# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/